* {
    margin: 0;
    padding: 0;
}
h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}
h1 {
    font-size: 64px;
    padding-bottom: 20px;
}
p {
    font-size:20px;
}
.content {
    height: 550px;
    text-align: left;
    background: url("https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/intro.jpg") no-repeat 0 0;
    padding: 85px 0 40px 150px;
}
.content p {
    padding-bottom: 40px;
}
.content a {
    display: inline-block;
    width: 240px;
    height: 35px;
    background-color: #E8506A;
    color:white;
    text-decoration: none;
    border:1px solid transparent;
    border-radius: 5px;
}
.content a p {
    padding: 12px 30px;
    font-size: 15px;
}
.content a:hover {
    background-color: #E32345;
    box-shadow: 0 0 8px 1px black;
}
.main_content {
    height: 600px;
    padding: 75px 200px;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {zoom:1;}

.share img{
    float: left;
}
.share .share_text {
    width:50%;
    float: right;
}

.explore .explore_text {
    width:50%;
    float:left;
}

.explore img {
    float: right;
}

.save img {
    float:left;
}

.save .save_text {
    float:right;
    width:50%;
}
.download {
    height: 300px;
    padding: 90px 400px;
}
.download p {
    font-size: 25px;
}
.footer {
    height: 300px;
    background-color: #F3F3F3;
    padding-top: 40px ;
}
.footer .container {
    margin: 40px auto;
}
.footer .row{
    display: flex;
    justify-content: center;
}
.col-md-4 {
    margin: 0 0 0 30px;
}
.col-md-4 li {
    list-style: none;
}
